// COLORS
$white : #fff;
$black : #000;
$darkgray: darkgray;

$itemHoverColor: #f7f7f7;
$bordercolor : #ebebeb;
$bgColor: #bababa;

// VARIABLES
$title-font-size: 30px;
$border-radius: 4px;

//fonts
$iconFont : 'icomoon';